VITE_FIREBASE_API_KEY="AIzaSyBbuH-5VMcQHCKkkBd1B5QBBNn3TDNXyTU"
VITE_FIREBASE_AUTH_DOMAIN="biblia-kids-9e1c8.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="biblia-kids-9e1c8"
VITE_FIREBASE_STORAGE_BUCKET="biblia-kids-9e1c8.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="52367849325"
VITE_FIREBASE_APP_ID="1:52367849325:web:970e8a6cbd418f61208c64"
